/* Layout & Background Styling */
body{
    background-color:black;
}
footer{
    background-color: white; 
    width: 1000px;
}
#container{
    background: url('background2.jpg');
    background-size:cover;
    width:1000px;
    height:550px;
}
#score{
    position:absolute;
    border:10px solid red;
    top:20px;
    left:800px;
    background-color:white;
    padding:10px;
    font-size:30px;
    font-family: Arial;	
}


/* Game Elements Styling */
#hero{
    background: url('1942.gif');
    background-position: -85px -180px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy1{
    background: url('1942.gif');
    background-position: -30px -10px;
    width:28px;
    height:28px;
    position:absolute;
}
.bullet{
    background: url('1942.gif');
    background-position: -185px -400px;
    width:18px;
    height:18px;
    position:absolute;
}
#bomb{
    background: url('1942.gif');
    background-position: -146px -33px;
    width: 26px;
    height: 26px;
    position: absolute;
}
#explosion{
    background: url('1942.gif');
    background-position: -29px -397px;
    width: 18px;
    height: 18px; 
    position: absolute;
}